*{
  font-family: 'Sriracha', cursive;
}
h3{
  text-align: center;
}
.body{
  padding: 5%;
}
.star{
  width: 1.2rem;
  margin-left: 0.5rem;
}
.header{
  display: flex;
  justify-content: center;
}
.img{
  width: 75%;
}
.lvl{
  display: flex;
  justify-content: left;
  align-items: center;
}

@media (min-width: 813px) {
  .img{
    width: 20%;
  }
}
