<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      YugiohProGuide
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="content">
    <ion-card class="welcome-card" color="dark">
        <img src="/assets/bg.jpg" alt=""/>
        <ion-card-header>
          <ion-card-subtitle>Hello Duelist</ion-card-subtitle>
          <ion-card-title>Welcome to the perfect YU-GI-OH Guide</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Here you can see in detail each card introduced in the TCG and its effects, types, etc.
          </p>
        </ion-card-content>
        <img src="/assets/bg2.jpg" alt=""/>
      </ion-card>
  </div>

</ion-content>
