*{
  font-family: 'Sriracha', cursive;
}
.welcome-card img {
  max-height: 35vh;
  max-width: 30vw;
  border: 5px white solid;
  overflow: hidden;
  border-radius: 25%;
}
ion-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ion-card-header{
  margin-top: 5%;
}
ion-card-content{
  margin-bottom: 5%;
}
.content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(max-width: 900px) {
  .welcome-card img {
    max-height: 35vh;
    max-width: 100%;
    border: 5px white solid;
    overflow: hidden;
    border-radius: 100%;
  }
}
*{
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}
